{% extends "layout.twig" %}

{% block content %}

  {{ form_start(form, {'method': 'POST'}) }}
  {{ form_errors(form) }}

  {% if data.lib_nom_usu_ind is not empty %}
    <div class="col-md-6">
      {{ form_row(form.lib_nom_pat_ind, {'label': 'Nom de famille'}) }}
      {{ form_row(form.lib_pr1_ind, {'label': 'Prénom'}) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.lib_nom_usu_ind, {'label': 'Nom usuel'}) }}
      {{ form_row(form.dat_nai_ind, {'label': 'Date de naissance'}) }}
    </div>
  {% else %}
    <div class="col-md-12">
      {{ form_row(form.lib_nom_pat_ind, {'label': 'Nom de famille'}) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.lib_pr1_ind, {'label': 'Prénom'}) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.dat_nai_ind, {'label': 'Date de naissance'}) }}
    </div>
  {% endif %}

  <div class="col-md-12">
    {{ form_row(form.lib_etp, {'label': 'Site de Formation ou Parcours'}) }}

    {{ form_row(form.condition1, {'label': 'Condition 1 : Master obtenu ou dispense de Master'}) }}

    {{ form_row(form.condition2, {'label': 'Condition 2 : aboutissement du travail de réflexion sur la pratique'}) }}
    {{ form_row(form.motif2, {'required': false}) }}

    {{ form_row(form.condition3, {'label': 'Condition 3 : assiduité participative'}) }}
    {{ form_row(form.motif3, {'required': false}) }}

    {{ form_row(form.directeur_choix, {'label': 'Avis du directeur de l\'ESPÉ sur le parcours de formation du stagiaire'}) }}

    {{ form_row(form.valider) }}

    {{ form_end(form, {'render_rest': false}) }}

  </div>

{% endblock %}
