{% extends "layout.twig" %}

{% block content %}



{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_widget(form.lib_nom_pat_ind) }}
    {{ form_row(form.lib_pr1_ind) }}

    <div Condition de travail id="condition">
     <input type="radio" id="condition21" name="condition[travail]" required="required" value="1" />
     <label for="condition21" class=" required">Condition remplie</label>
     <input type="radio" id="condition22" name="condition[travail]" required="required" value="2" />
     <label for="condition22" class=" required">Condition non remplie</label>
    </div>
    {{ form_row(form.motif2) }}

    <input type="submit" value="Valider"/>
{{ form_end(form) }}



{% endblock %}
