{% extends "layout.twig" %}

{% block content %}
<div class="form-evalefs">
  <h2 class="text-center">Formulaire d'évaluation des Étudiants Fonctionnaires Stagiaires</h2>
  {{ form_start(form, {'method': 'POST'}) }}
  {{ form_errors(form) }}
  {% if data.lib_nom_usu_ind is not empty %}
    <div class="col-md-6">
      {{ form_row(form.lib_nom_pat_ind, {'label': 'Nom de famille'}) }}
      {{ form_row(form.lib_pr1_ind, {'label': 'Prénom'}) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.lib_nom_usu_ind, {'label': 'Nom usuel'}) }}
      {{ form_row(form.dat_nai_ind, {'label': 'Date de naissance'}) }}
    </div>
  {% else %}
    <div class="col-md-12">
      {{ form_row(form.lib_nom_pat_ind, {'label': 'Nom de famille'}) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.lib_pr1_ind, {'label': 'Prénom'}) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.dat_nai_ind, {'label': 'Date de naissance'}) }}
    </div>
  {% endif %}

  <div class="footer-widget col-md-12">
    {{ form_row(form.lib_etp, {'label': 'Site de Formation ou Parcours'}) }}

    {{ form_row(form.condition1, {'label': 'Condition 1 : Master obtenu ou dispense de Master'}) }}

    {{ form_row(form.condition2, {'label': 'Condition 2 : aboutissement du travail de réflexion sur la pratique'}) }}
    {{ form_row(form.motif2, {'required': false}) }}

    {{ form_row(form.condition3, {'label': 'Condition 3 : assiduité participative'}) }}
    {{ form_row(form.motif3, {'required': false}) }}

    {% if is_granted('ROLE_ADMIN') %}
      {{ form_row(form.directeur_choix, {'label': 'Avis du directeur de l\'ESPÉ sur le parcours de formation du stagiaire'}) }}
    {% endif %}
  </div>
  <div class="footer-button row text-center">
    <div class="col-xs-6">
      {{ form_row(form.valider, {
        'attr': {
          'class': 'btn-success btn-lg'
          }
        })
      }}
    </div>
    <div class="col-xs-6">
      <a href="{{ url('homepage', {'etape': data.cod_etp}) }}" class="btn btn-lg btn-danger" role="button">Annuler</a>
    </div>
  </div>
  {{ form_widget(form._token) }}

  {{ form_end(form, {'render_rest': false}) }}

  {% if data.datetime_modif %}
    <p class="text-info">Dernière modification : {{ data.datetime_modif|date("d/m/Y") }} à {{ data.datetime_modif|date("G:i:s") }}</p>
  {% endif %}

</div>
{% endblock %}
