{% extends "layout.twig" %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Evaluation EFS</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Accueil</a></li>
          {% if is_granted('ROLE_ENSEIGNANT') %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Etapes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            {% for etape in etapes %}
              <li><a href="#">{{ etape.lib_etp }}</a></li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ path('logout') }}">Déconnexion</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  <div class="jumbotron">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      {% for etudiant in etudiants %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ etudiant.lib_pr1_ind }}</td>
          <td>{{ etudiant.lib_nom_pat_ind }}</td>
          <td>{{ etudiant.mail_etu }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock %}
