{% extends "layout.twig" %}

{% block stylesheet %}
  {{ parent() }}
  <link href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <form class="form-signin" action="{{ path('login_check') }}" method="post">
  <h2 class="form-signin-heading">Connexion</h2>
    {{ error }}
    <input type="text" name="_username" class="form-control" value="{{ last_username }}" placeholder="Login" />
    <input type="password" name="_password" class="form-control" value="" placeholder="Password" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
  </form>
  
{% endblock %}
